
<footer class="border-top footer text-muted">

    <div class="container text-center">
        &copy; 2019 - Derek MVC5 Contoso |
        Bucks New University |
        Foundation Degree Computing |
        CO550 Web Applications
        <br />
        <a href="#">About</a> |
        <a href="#">Contact</a>
    </div>

</footer>
